.accordeon {
    img {
        transition: all .2s ease-in-out;
        &.opened {
            transform: rotate(-180deg);
        }
    }
}

.description-text-accordeon{
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

@media screen and (max-width:426px){
    .accordeon{
        .description-text-accordeon{
            background-color: white;
            font-size: 12px;
            p{
                background-color: white;
                font-size: 12px;
            }
        }
    } 
    
   
 
}