.navigation{
    display: flex;
    justify-content: flex-end;
}

a{
    display: flex;
    margin: 1%;
    height: 34px;
    width: 120px;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: $main-color;
}

.nav-active{
    text-decoration: underline;
}

@media screen and (max-width:426px){
    .navigation{
      height: 50px;
      align-items: center;
      margin-top: 1%;
      a{
        margin: 1%;
        height: 34px;
        width: 75px;
    }
    }
    
    
}