@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


$font:'Montserrat', sans-serif;

$main-color:#FF6060;
$background-color:#E5E5E5;
$main-background:#FFFFFF;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    background-color: $main-background;
    font-family: $font;
    color: $main-color;
    height: 100%;
    //height: auto;
    //position: relative;
}

.home{
    height: auto;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    cursor: pointer;
    $main-color:#FF6060;
}


