.about-corpus{
    display: flex;
    justify-content: space-between;
    .about-logement{
   
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: start;
        margin-left: 5%;
      
        .Logement-title-and-location{
       
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: flex-start;
        }
    
        .tags-logement{
            display: flex;
            height: 35px;
            width: auto;
            justify-content: space-between;
            margin-top: 35px;
            .tags{
                display: flex;
                margin-right: 4%;
                background-color: $main-color;
                color: white;
                border-radius: 10px ;
                height: auto;
                width: 160px;
                align-items: center;
                justify-content: center;
                padding-left: 2%;
                padding-right: 2%;
                font-size: small;
            }
        }
    }
    
    .about-host{
       
        margin-right: 5%;
        .name-and-profilPicture{
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                display: flex;
                width: 93px ;
                justify-content: flex-end;
                text-align: end;
                margin-right: 20px;
            }
            img{
                width: 70px;
                height: 70px;
                border-radius: 50%;
            }
        }
    }
}


