.slider{
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-top: 1%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    .slider-window{
        display: flex;
        width: 90%;
        justify-content: center;
        overflow: hidden;
        border-radius: 25px;
        .slider-derouler{
            display: flex;
            .imageSlider{
                height: 415px;
                border-radius: 25px;
                object-fit: cover;
                flex-shrink: 0;
                width: 100%;
                //transform: translateX(-100%);
            }
        }
    }
}

.arrow-right{
    position: absolute;
    right: 7%;
    bottom: 45%;
    font-weight: 900;
    cursor: pointer;
    &:hover{
        transform:scale(1.08);
        transition: 0.1s ease-in-out;
    }
}
.arrow-left{
    position: absolute;
    left: 7%;
    bottom: 45%;
    font-weight: 900;
    cursor: pointer;
    &:hover{
        transform:scale(1.08);
        transition: 0.1s ease-in-out;
    }
}

.length-indicatif{
    position:absolute;
    bottom: 8%;
    font-size: 18px;
    color: white;
    font-weight: 500;
}