.appartement{
    width: 100%;
    height: 100%;
   
    .appartement-window{   
        position: relative;
        cursor: pointer;
      
        p{
            position: absolute;
            bottom: 0px;
            text-align: start;
            margin-bottom: 20px;
            margin-left: 20px;
            font-weight: 500;
            color: white;
            z-index: 2;
            size: 18px;
        }
        a{
            width: 100%;
            height: 20rem;
            border-radius: 10px;
            object-fit: cover;
            z-index: 1;
            mix-blend-mode: darken;
            img{
                width: 100%;
                height: 20rem;
                border-radius: 10px;
                object-fit: cover;
                z-index: 1;
                mix-blend-mode: darken;
            }
        }
       
    }
}


@media screen and (max-width:426px){
   
}